* {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    scrollbar-color: red;
}

::-webkit-scrollbar-thumb {
    background: black;
}


body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

/* .upperhero {
    height: 10%;
} */

.nottext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    height: 4vh;
    /* background-color: deeppink; */
    width: 84%;
    padding-left: 15%;
    padding-right: 15%;

}

.nav {
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    width: 100%;
    height: 7vh;
}

nav a {
    font-family: 'myriad pro', sans-serif;
    font-size: 1.2em;

    color: white;
}

.events {
    /* background-color: chocolate; */
    width: 100%;
    height: 54vh;

}

.dheading {
    width: 100%;
    /* background-color: pink; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4vw;
}

.dheading p {
    font-family: 'noto sans', sans-serif;
    font-size: 1.5em;
}

.lowerevents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    /* background-color: aquamarine; */
}

.dimg {
    /* background-color:slateblue ; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dimg img {
    height: 90%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.dabout {
    /* background-color: lawngreen; */
    width: 60%;
    height: 100%;
}

.dabout p {
    font-size: 1em;
    padding-right: 7vw;
}
.footer {
    background-color: #1E1E1E;
    width: 100%;
    height: 35vh;
    color: white;
    text-align: center;
    justify-content: space-between;
}

.footfirst {
    height: 92%;
    padding: 40px;
}

.footfirst p {
    padding-top: 15px;
}

.footfirst img {
    height: 35%;
}