@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #ffffff;
  color: #090909;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #f5f5f5;
}


.nottext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    height: 4vh;
    /* background-color: deeppink; */
    width: 84%;
    padding-left: 15%;
    padding-right: 15%;

}

nav {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    width: 100vw;
    height: 7vh;
}

nav a {
    font-family: 'myriad pro', sans-serif;
    font-size: 1.2em;

    color: white;
}

.container{
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.container .box{
  width: calc(33% - 10px);
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-decoration-color: whitesmoke;
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #413d43;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #f6f5f7;
  font-size: 18px;
  font-weight: 600;
}
.rating i{
  font-size: 18px;
  color: #f6f5f7;
  margin-bottom: 5px;
}
h4{
    color: #f5f5f5;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
}
.btns button:first-child{
  background: none;
  margin-right: 5px;
}
.btns button:last-child{
  color: #fff;
  margin-left: 5px;
}
.btns button:first-child:hover{
  background: #8e44ad;
  color: #fff;
}
.btns button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}